.watch-container {
  background-color: #000;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: flex-start;
    padding-top: 3rem;

}

.watch-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.video-box {

  border: 3px solid #868686;
  border-radius: 5px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: #e50914;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.back-btn:hover {
  background-color: #f40612;
}
